<div id="form">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">

    <label> First Name
      <input type="text" name="firstName" placeholder="John" />
    </label>

    <label> Last Name
      <input type="text" name="lastName" placeholder="Doe" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="johndoe@email.com" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="**********" />
    </label>

    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>