<div id="form">
  <h2 class="mx-4 pt-5 ">Sign Up</h2>
  <form action="/signup" method="POST" class="mx-4 pt-5 ">

    <label> First Name
      <input class="form-control mr-2" type="text" name="firstName" placeholder="John" />
    </label>

    <label> Last Name
      <input class="form-control mr-2" type="text" name="lastName" placeholder="Doe" />
    </label>

    <label> Email
      <input class="form-control mr-2" type="email" name="email" placeholder="johndoe@email.com" />
    </label>

    <label> Password
      <input class="form-control mr-2" type="password" name="password" placeholder="**********" />
    </label>

    <button type="submit" class="btn btn-info">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>