



<!-- weather report widget -->

<a class="weatherwidget-io" href="https://forecast7.com/en/38d72n9d14/lisbon/" data-label_1="LISBON" data-label_2="WEATHER" >LISBON WEATHER</a>

<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>



<!--  profile photo -->
<img src="..." class="rounded float-start" alt="Your photo here">
<!-- intro message -->
<h1>Hello {{name}}!</h1>



<!-- my favorites cards -->
<h2>My Favorites</h2>

<div class="container text-center">
  <div class="row row-cols-4">
     <div class="col">
        <div class="card" style="width: 18rem;">
         <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
     </div>
    </div>
    <div class="col">
           <div class="card" style="width: 18rem;">
         <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
     </div>
    </div>
    <div class="col">
           <div class="card" style="width: 18rem;">
         <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
     </div>
    </div>
    <div class="col">
           <div class="card" style="width: 18rem;">
         <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
     </div>
    </div>
  </div>
</div>