body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9F5D3;
}
.navbar{
  background-color:#94E1EF !important;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.like-btn{
  padding: 1rem;
}

.carousel{
  height:100vh ;
  width:100%;

  }